<!DOCTYPE html>
<html>
    <head>
        <title><%= __('Sails demo') %></title>
        <link rel="stylesheet" type="text/css" href="<%= sails.getBaseUrl() + '/bower_components/bootstrap/dist/css/bootstrap.css'%>">
    </head>
    <body>
        <%- body %>
    </body>
</html>